.tweet-list{
  margin: 0 auto;
  position: relative;
}

.tweet-text{
  padding: 5px;
  text-align: center;
}

.tweet-image-area{
  margin-top: 25px;
}

.tweet-image{
  border-radius: 5px;
  width: 30vw;
}

.tweets-nickname{
  font-size: 11px;
  color: gray;
}

.tweets-nickname-area{
  text-align: center;
}

.tweet-contents{
  text-align: center;
}

.tweet-title-top{
  border-bottom: solid 3px #013763;
  width: 100px;
  text-align: center;
  margin: 50px auto 0 auto;
}

.tweet-title-my{
  border-bottom: solid 3px #013763;
  width: 150px;
  text-align: center;
  margin: 50px auto 0 auto;
}