<%= render "shared/mypage" %>
<main>
  <div class="area">
    <div class="tweet-title-my">
      <p>投稿したツイート</p>
    </div>
    <div class="main">
      
      <%= render "shared/tweet" %>
    </div>
  </div>
</main>