.footer{
  background-color: #013763;
  height: 90px;
  width: 100vw;
  align-items: center;
  position: absolute;
  bottom: 0; 
}

.footer-logo{
  display: flex;
  justify-content: center;
}

.copyright{
  color: #919191;
  display: flex;
  justify-content: center;
  margin: -5px;
}

.logo-white{
  width: 270px;
}