footer{
  background-color: #013763;
  height: 40px;
  width: 100vw;
  align-items: center;
  position:fixed;
  bottom: 0;
}

.footer-logo{
  display: flex;
  justify-content: center;
}

.copyright{
  color: #919191;
  display: flex;
  justify-content: center;
  margin: -10px;
  font-size: 5px;
}

.logo-white{
  width: 120px;
  margin-top: 3px;
}