* {
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
}

.top-page-header {
  box-shadow: 0px  1px 5px -2px gray inset;
  height: 70px;
  width: 100vw;
  padding: 1vh 5vw;
}

.my-page-header{
  box-shadow: 0px  1px 5px -2px gray inset;
  height: 70px;
  width: 100vw;
  padding: 1vh 0 0 5vw;
}

.top-page-contents{
  display: flex;
  justify-content: space-between;
}

.right{
  display: flex;
  align-items: center;
  width: 500px;
}

.header-right{
  display: flex;
  align-items: center;
  width: 265px;
}

.right-contents{
  height: 30px;
  display: flex;
}

.top-icon{
  font-size: 18px;
}

.log-icon {
  width: 50px;
}

.user-nickname {
  text-decoration: none;
  color: #333333;
  padding-top: 25px;
}

.lists-right {
  display: flex;
  width: 15vw;
}

.logout {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}

.logbook {
  text-decoration: none;
  color: #333333;
  margin-right: 3vw;
}

.logbook:hover {
  border-bottom: solid 3px #013763;
}

.logout:hover {
  border-bottom: solid 3px #013763;
}

.login:hover {
  border-bottom: solid 3px #013763;
}

.sign-up:hover {
  border-bottom: solid 3px #013763;
}

.logdivers-color{
  width: 150px;
}

.search{
  height: 30px;
  display: block;
  margin-right: 3vw;
}

.right-icon{
  width: 30px;
  margin-left: 2vw;
}