* {
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
  opacity: 0.8;
}

.top-page-header {
  box-shadow: 0px  1px 5px -2px gray inset;
  height: 100px;
  width: 100vw;
  padding: 1vh 5vw;
  display: flex;
  flex-direction: column;
}

.top-page-contents{
  display: flex;
  justify-content: space-between;
}

.right-contents{
  margin-top: 20px;
  height: 30px;
}

.top-icon{
  font-size: 18px;
}

.log-icon {
  width: 70px;
}

.home-icon{
  width: 50px;
  margin-left: 3vw;
  filter: drop-shadow(0px 0px 2px rgba(0,0,0,.8));
}

.user-nickname {
  text-decoration: none;
  color: #333333;
  padding-top: 25px;
}

.nav {
  font-size: 18px;
}

.lists-right {
  list-style: none;
  align-items: flex-end;
  display: flex;
}

.logout {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}

.logbook {
  text-decoration: none;
  color: #333333;
  margin-right: 3vw;
}

.logbook:hover {
  border-bottom: solid 3px #013763;
}

.logout:hover {
  border-bottom: solid 3px #013763;
}

.login:hover {
  border-bottom: solid 3px #013763;
}

.sign-up:hover {
  border-bottom: solid 3px #013763;
}

.logdivers-color{
  width: 150px;
}

.search{
  height: 30px;
  display: block;
  margin-right: 3vw;
}