.search-form{
  width: 300px
}

.search-btn{
  font-size: 12px;
  border: none;
  border-radius: 3px;
  height: 25px;
  width: 50px;
}

.search-btn:hover{
  background-color: lightgrey;
  font-size: 12px;
  border: none;
  border-radius: 3px;
  height: 25px;
  width: 50px;
}