<footer>
    <div class="foot-wrap">
      <div>
        
      </div>
        <div class="menu-left">
            <h3>LOGDIVERSとは</h3>
            <ul class="foot-left">
                <li><a href="#">名前の由来</a></li>
                <li><a href="#">制作しようと考えた理由</a></li>
            </ul>
        </div>
        <div class="menu-center">
            <h3>ログブックについて</h3>
            <ul class="foot-center">
                <li><a href="#">ログブックについて</a></li>
                <li><a href="#">記入方法</a></li>
            </ul>
        </div>
        <div class="menu-right">
            <h3>ツイート機能について</h3>
            <ul class="foot-right">
                <li><a href="#">注意点</a></li>
                <li><a href="#">記入方法</a></li>
            </ul>
        </div>
        <small class="cmark">©️copyright LOGDIVERS 2020
        </small>
    </div>
</footer>