<footer>
  <div class="foot-wrap">
    <div class="menu-left">
      <h3><%= link_to image_tag("white-logo.png", class:"footer-log-icon"), "/" %></h3>
        <div class="footer-text">
          <p>ダイビングのログをパソコンやスマホで記録するものです。</p>
          <p>ツイート機能をつけることで友人と共有をできるようにしました。</p>
        </div>
      </div>
      <small class="cmark">©️copyright LOGDIVERS 2020
    </small>
  </div>
</footer>