<header>
  <div class="top-page-contents">
    <div class="left-contents">
      <div class="top-icon">
        <%= link_to image_tag("footer-logo.png", class:"log-icon"), "/" %>
        <%= link_to current_user.nickname, user_path(current_user.id), class: "user-nickname" %>
        さんのマイページ
      </div>
    </div>
    <div class="right">
      <div class="right-contents">
          <%= render "shared/search" %>
      </div>
    </div>
  </div>
</header>