<header class="top-page-header">
<div class="top-page-contents">
  <div class="left-contents">
    <div class="top-icon">
      <%= link_to image_tag("icon-color.png", class:"log-icon"), "/" %>
      <% if user_signed_in? %>
        <%= link_to current_user.nickname, root_path, class: "user-nickname" %>
      <% end %>
    </div>
  </div>
    <div class="right-contents">
      <div class="nav">
        <ul class="lists-right">
          <p class="new-logbook">ログブック入力ページ</p>
        </ul>
      </div>
    </div>
  </div>
</div>
</header>