<header class="top-page-header">
<div class="top-page-contents">
  <div class="left-contents">
    <div class="top-icon">
      <%= link_to image_tag("toplogo.png", class:"log-icon"), "/" %>
      <% if user_signed_in? %>
        <%= link_to current_user.nickname, root_path, class: "user-nickname" %>
      <% end %>
    </div>
  </div>
        <div class="second-right">
      <div class="right-contents">
          <ul class="lists-right">
            <li class="icon-area"><%= link_to image_tag("home-icon.png", class:"right-icon"), user_path(current_user.id) %></li>
          </ul>
      </div>
    </div>
  </div>
</div>
</header>