<%= render "shared/header" %>
<main>
<div class="area">
    <div class="area-left">
    </div>
        <div class="main">
            <%= render "shared/tweet" %>
        </div>
    <div class="area-right">
    </div>
</div>
</main>