<%= render "shared/second-header" %>


<div class="area">
  <div class="area-left">
  </div>
    <div class="area-center">
      <div class="form">
      </div>
    </div>
  <div class="area-right">
  </div>
</div>