.area{
  display: flex;
  height: calc(100vh - 70px - 40px);
}

.area-center{
  margin-left: auto;
  margin-right: auto;
  width: 8em
}

.new-logbook{
  text-decoration: none;
  color: #333333;
  margin-right: 3vw;
  border-bottom: inset 2px #013763;
}

.form{
  display: grid;
  place-items: center;
  margin-top: 10vh;
}

.log-form{
  display: flex;
  justify-content: center;
}

.left-form{
  margin-right: 10px;
}

.log-image{
  display: grid;
  place-items: center;
}

.log-submit{
  display: grid;
  place-items: center;
}

.log-title{
  margin-top: 10vh;
  margin-bottom: 20px;
  text-align: center;
  flex-wrap: wrap;
}