.logbook-list{
  width: calc(100% - 140px);
  height: calc(100vh - 100px - 40px);
  overflow: scroll;
}

.condition-log {
  margin-top: 2vh;
}

.item-log{
  margin-top: 10px;
}

.logbook-log{
  margin-top: 2vh;
  margin-bottom: 30px;
  margin-left: 20px;
  position: relative;
}

.delete-btn{
  position: absolute;
  bottom: 0;
  margin-left: 20vw;
}

.top-log{
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}

.lists-log{
  display: flex;
}

.log-span{
  width: 10vw;
}

.border{
  border-bottom: dotted black 2px;
}

.logbook-center{
  overflow: scroll;
  box-shadow: 0px  1px 5px -2px gray inset;
}

.head-group{
  height: auto;
}

.head-text{
  color: black;
  text-decoration: none;
  list-style: none;
  margin: 0 20px;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #013763;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  margin-right: 2px;
}

.new-edit-btn{
  text-align: center;
  margin-top: 20px;
}

.new-edit-btn-my{
  margin-top: 2vh;
}

.user-name-area{
  margin-right: 2vw;
}

.top-user-nickname{
  color: black;
  text-decoration: none;
  list-style: none;
  margin-right: 20px;
  font-size: 23px;
}

.session-text{
/* ログイン・ログアウトのデザインを考える */
position: relative;
display: inline-block;
font-weight: bold;
padding: 0.25em 0.5em;
text-decoration: none;
color: #013763;
transition: .4s;
margin-right: 2vw;
border-radius: 5px;
}

.session-text:hover{
  background: #013763;
  color: white;
}

.head-list{
  display: flex;
  justify-content: flex-end;
}

.toplogo{
  width: 500px;
}

.top-main{
  text-align: center;
  font-size: 20px;
}

.main-logo{
  text-align: center;
  margin-top: 30px;
}

.logbook-sub-title{
  border-bottom: solid 3px #013763;
  margin: 2vh 0;
}