.login-main{
  display: flex;
  height: calc(100vh - 20px - 90px);
}

.login-group{
  width: calc(100vw - 15vw - 15vw);
  display: grid;
  place-items: center;
}

.login-center{
  margin-bottom: 50px;
}

.actions{
  margin-top: 50px;
  display: grid;
  place-items: center;
}

.change-signup{
  margin-top: 50px;
  text-align: center;
}